body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  width: 100%;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  /* margin-bottom: 0; */
}

.boutong {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  height: 100%;
}

.h1 {
  margin: 0;
  margin-bottom: 0;
}

header button {
  left: 10px;
  top: 50%;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  height: 100%;;
}

header .burger-menu {
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar {
  padding: 10px;
  /* background-color: #fff; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form-inline {
  margin-right: .5rem
}

.space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.search-input {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
}

.filter-options, .sort-options {
  /* margin-right: 10px; */
  margin-right: .5rem
}

.action-buttons {
  margin: 10px 0;
  text-align: center;
}

.action-buttons button {
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.item-list {
  padding: 10px;
  background-color: #fff;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item .drag-handle {
  cursor: grab;
}